<ion-view title="Chat">
  <ion-content class="has-header">
    <ion-list>
    <div class="list card" ng-repeat="personaltt in personaltts.slice().reverse()">
<ion-item class="item item-body">
  {{personaltt.timestart}}
</ion-item>
</div>
</ion-list>
  </ion-content>
  <button class="button button-energized-900 button-fab button-fab-bottom-right fab" ng-click="NewPTTModal()">
  <i class="icon ion-edit light"></i>
</button>
  <script id="newptt.html" type="text/ng-template">
  <ion-modal-view class="ionic">
      <header class="bar bar-header bar-positive flat">
<h1 class="title fab-left"> Set New TimeTable</h1>
<button class="button button-icon icon ion-close-round flat pull-left" ng-click="close()"></button>
</header>
<ion-content class="has-header">
         <form novalidate="double-padding novalidate" name="PTTForm">
<div class="content item-body">
         <label class="item item-input item-floating-label">
             <span class="input-label">Unit</span>
         <input type="text" placeholder="What Unit?" ng-model="personaltt.unit" required>
         </label>
         <label class="item item-input item-floating-label">
             <span class="input-label">Timestart</span>
         <input type="text" placeholder="When Will You Start" ng-model="personaltt.timestart" required>
         </label>
         <label class="item item-input item-floating-label">
             <span class="input-label">Timestop</span>
         <input type="text" placeholder="When Will You Stop?" ng-model="personaltt.timestop" required>
         </label>
         <ion-toggle ng-model="personaltt.reminder" toggle-class="toggle-calm" ng-click="SetReminder()" >Remind Me</ion-toggle>



</div>

<button  class="button button-full button-positive icon-left ion-paper-airplane"
                 data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="PostPTT()">
Set
             </button>
</form>
</script>
</ion-view>
