<ion-view title="Notice Board">

   <ion-nav-buttons side="secondary">
     <button class="button flat button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
     </button>
   </ion-nav-buttons>

 <ion-content class="has-header">
   <ion-refresher
           pulling-text="Pull to refresh..."
           on-refresh="refresh()">
   </ion-refresher>
   <div ng-if="notices.length === 0" class="card empty-msg">
<ion-item class="item item-body">
  No Notices At The Moment. Move On!
</ion-item>
   </div>
 <div ng-if="notices.length > 0" class="list">
     <ion-list>
     <div class="list card" ng-repeat="notice in notices.slice().reverse()">

       <div class="item"  ui-sref="app.notice({id: notice.id})">
      <!--   <img ng-src="{{notice.avatar}}"> -->
         <h2>{{notice.title}}</h2>

       </div>

       <div class="item item-body" ui-sref="app.notice({id: notice.id})">
       <!-- <img class="full-image" ng-src="{{notice.image}}"> -->
       <img class="full-image" src="img/rainynairobi.jpg">


         <p>
         {{notice.content}}
         </p>
         <p class="subdued"><i class="icon ion-ios-clock"></i> {{notice.startDate | amCalendar}}</p>
       </div>

       <div class="item tabs tabs-secondary tabs-icon-left">
         <div class="tab-item" ng-click="shareNative()">
          Share
             <i class="icon ion-android-share-alt"></i>
           </div>

         <a class="tab-item" ui-sref="app.notice({id: notice.id})">
           <i class="icon ion-more"></i>
         Read More
         </a>

       </div>
     </div>
   </ion-list>
   </div>
   <div ng-if="notices !== undefined && !notices.length" class="no-results card item-body">
     <p>No Results, Bruh :(</p>
   </div>
 </ion-content>

 <button class="button button-energized-900 button-fab button-fab-bottom-right fab" ng-click="NoticeModal()">
 <i class="icon ion-edit light"></i>
</button>
<script id="newnotice.html" type="text/ng-template">
    <ion-modal-view class="ionic">
        <header class="bar bar-header bar-positive flat">
<h1 class="title fab-left">Create A Notice</h1>
<button class="button button-icon icon ion-close-round flat pull-left" ng-click="close()"></button>
</header>
<ion-content class="has-header">
        <form novalidate="double-padding novalidate" name="noticeForm">
<div class="content item-body">
        <label class="item item-input item-floating-label">
            <span class="input-label">Content of Notice</span>
        <textarea type="text" placeholder="Content of Notice" ng-model="newNotice.content" required>
        </textarea>
        </label>
</div>

<button ng-disabled="!noticeForm.$valid" class="button button-full button-positive icon-left ion-paper-airplane"
                data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="PostNotice()">
Send
            </button>
</form>

</ion-content>
    </ion-modal-view>
</script>


</ion-view>
