<div class="item item-divider">Create your account: </div>
<label class="item item-input email-input">
  <input type="email" ng-model="userinfo.email" ng-focus='onEmailFocus()' ng-blur='onEmailBlur()' placeholder="E-Mail *">
  <i class="icon" style='width: 40px; text-align: center;'></i>
</label>
<label class='item item-input password-input'>
  <input type='text' autocapitalize='none' ng-model='userinfo.password' ng-focus='onPasswordFocus()' ng-blur='onPasswordBlur()' placeholder='Choose a Password *'>
  <i class="icon" style='width: 40px; text-align: center;'></i>
</label>
