<ion-side-menus enable-menu-with-back-views="true" class="ionic">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <div class="buttons">
          <button class="button button-icon icon flat ion-navicon" menu-toggle="left" ng-hide="$exposeAside.active"></button>
        </div>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar class="bar-assertive">
      <h1 class="title">Side Panel</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list" ng-controller="AccountCtrl">
        <a class="item item-avatar" ui-sref="profile">
                   <img ng-src="{{currentUser.avatar}}">
                   <h2>Hi @<b>{{currentUser.username}}</b></h2>
                   <p>Welcome Back</p>
               </a>

               <div class="item item-divider">
                      Home
                </div>
        <a class="item item-icon-left" ui-sref="app.tabs.twitts" nav-clear menu-close>
          <i class="icon ion-mic-b"></i><h2 class="menu-text"> Happening's </h2>
        </a>
        <a class="item item-icon-left" ui-sref="profile" nav-clear menu-close>
          <i nav-clear menu-close class="icon ion-clipboard"></i> <h2 class="menu-text"> Notices </h2>
        </a>


         <div class="item item-divider">
                Academics
          </div>
          <a class="item item-icon-left" ui-sref="app.tabs.twitts" nav-clear menu-close>
            <i class="icon ion-laptop"></i> <h2 class="menu-text">TimeTables</h2>
          </a>
          <a class="item item-icon-left" ui-sref="app.tabs.twitts" nav-clear menu-close>
            <i class="icon ion-laptop"></i> <h2 class="menu-text">Resources</h2>
          </a>
          <div class="item item-divider">
                Mall
           </div>
           <!-- dmall -->
           <a class="item item-icon-left" ui-sref="app.tabs.twitts" nav-clear menu-close>
             <i class="icon ion-bag"></i><h2 class="menu-text"> dMall </h2>
           </a>
           <div class="item item-divider">
                 Nav
            </div>
            <a class="item item-icon-left" ui-sref="feedback" menu-close>
                <i class="icon ion-email"></i><h2 class="menu-text"> FeedBack </h2>
              </a>
            <a class="item item-icon-left" ng-click="logout()" menu-close>
                <i class="icon ion-log-out"></i><h2 class="menu-text"> Logout </h2>
              </a>

      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
