<ion-view title="Personal TimeTable">
  <ion-content class="has-header">
    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="refresh()">
    </ion-refresher>
    <ion-list>
          <!-- <div ng-hide="personaltt.ownerId == currentUser.id > 0" class="card empty-msg">
            <ion-item class="item item-body">
              You Don't Have any Personal TimeTable Yet, <a ng-click="NewPTTModal()">Set One</a>.
            </ion-item>
              </div> -->

    <div class="list card" ng-repeat="personaltt in personaltts.slice().reverse()" ng-if="personaltt.ownerId === currentUser.id">
<ion-item class="item item-body">
  <b/> UNIT : </b>
{{personaltt.unit}}
  <div class="list list-inset">
    <div class="item">
      <time>
        <b/> FROM : </b> {{personaltt.timestart | amCalendar}}
</time>
    </div>
    <div class="item">
      <time>
        <b/> TO : </b>
      {{personaltt.timestop | amCalendar}}
<time>
    </div>
</div>

</ion-item>

</div>
</ion-list>
  </ion-content>
  <button class="button button-energized-900 button-fab button-fab-bottom-right fab" ng-click="NewPTTModal()">
  <i class="icon ion-edit light"></i>
</button>

</ion-view>
