 <ion-view title="What's Happening">

    <ion-nav-buttons side="secondary">
      <button class="button flat button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
      </button>
    </ion-nav-buttons>

  <ion-content class="has-header">
  <!--  <button class="button button-block button-dark" ng-click="identifyUser()">
          Identify a user
        </button>

        <button class="button button-block button-positive" ng-if="identified" ng-click="pushRegister()">
          Register for Push
        </button> -->
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refresh()">
        </ion-refresher>
    <div ng-if="tweets.length === 0" class="card empty-msg">
      <ion-item class="item item-body">
        No Tweets At The Moment.
        <br/>
        Check your Connectivity and try again.
      </ion-item>
        </div>
  <div ng-if="tweets.length > 0" class="list">
      <ion-list>
      <div class="list card" ng-repeat="tweet in tweets.slice().reverse()">

        <div class="item item-avatar"  ui-sref="app.twitt({id: tweet.id})">
          <img ng-src="{{item.avatar}}">
          <h2>{{tweet.ownerUsername}}</h2>
          <p><i class="icon ion-ios-clock"></i> {{tweet.date | timeDistance}} Ago</p>

        </div>

        <div class="item item-body" ui-sref="app.twitt({id: tweet.id})">
        <!--  <img class="full-image" ng-src="{{item.image}}"> -->
          <p>
          {{tweet.content}}
          </p>
          <p>
          <!--  <a href="#" class="subdued">1 Like</a> -->

            </a>
          <!--  <a href="#" class="subdued">5 Comments</a> -->
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
        <!--  <a ng-class="tweet.userLikedTweet ? 'button button-small button-royal' : 'button button-small button-outline button-balanced'" ng-click="like()">
          <!--    {{tweet.likes}} --><!-- Favorite   <i class="ion-ios7-star"></i></a> -->
          <a class="tab-item" ui-sref="app.twitt({id: tweet.id})">
            <i class="icon ion-chatbubbles"></i>
           Comment
          </a>

          <a class="tab-item" ui-sref="app.twitt({id: tweet.id})">
            <i class="icon ion-more"></i>
          Read More
          </a>
        <!--  <a class="button-icon icon ion-android-more-vertical"></a> -->

        </div>
      </div>
    </ion-list>
    </div>
    <div ng-if="tweets !== undefined && !tweets.length" class="no-results">
      <p>No Results</p>
    </div>
  </ion-content>
  <button class="button button-energized-900 button-fab button-fab-bottom-right fab" ng-click="TweetModal()">
  <i class="icon ion-edit light"></i>
</button>
</ion-view>
