<ion-view title="Twitt">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <!-- <img ng-src="{{twitt.avatar}}"> -->
        <img src="img/student.png">

        <h2>{{tweet.ownerNickname}}</h2>
        <p>{{tweet.content}}</p>
      </div>
    </div>
    <h4 style="margin-left: 10px">Comments</h4>
    <div class="list card">
  <!--    <div ng-if="comment.tweetId == tweet.id" class="card empty-msg">
        <ion-item class="item item-body">
          No Comments yet At The Moment.
          <br/>
          Be The First One To <a ng-click="openModal()"> Comment.</a>
        </ion-item>
      </div> -->
      <ion-refresher
              pulling-text="Pull to refresh..."
              on-refresh="refresh()">
      </ion-refresher>
          <ion-list>
        <div ng-repeat="comment in comments.slice().reverse()" ng-if="comment.tweetId === tweet.id" class="item item-avatar" style="padding-top: 10px; padding-bottom:10px;">
            <!-- <img ng-src="{{comment.avatar}}"> -->
            <img src="img/student.png">

            <h2>{{comment.ownerNickname}}<p class="date"><i class="icon ion-ios-clock"></i>{{comment.date | timeDistance}} Ago</p></h2>
            <p>{{comment.content}}</p>
        </div>
      </ion-list>

    </div>
  </ion-content>
  <button ng-click="openModal()" class="button button-energized-900 button-fab button-fab-bottom-right fab">
  <i class="icon ion-chatbubbles light"></i>
  </button>

</ion-view>
