 <ion-view title="What's Happening">

    <ion-nav-buttons side="secondary">
      <button class="button flat button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
      </button>
    </ion-nav-buttons>

  <ion-content class="has-header">
    <div ng-if="data.tweets.length === 0" class="empty-msg">No Tweets At Moment :(</div>
    <div ng-if="data.tweets.length > 0" class="list">
      <ion-list>
      <div class="list card" ng-repeat="tweet in data.filteredTweets = (data.tweets | filter:search) track by tweet.id" ui-sref="app.twitt({id: tweet.id})">

        <div class="item item-avatar">
          <img ng-src="{{item.avatar}}">
          <h2>{{tweet.ownerUsername}}</h2>
          <p>November 05, 1955</p>

        </div>

        <div class="item item-body">
        <!--  <img class="full-image" ng-src="{{item.image}}"> -->
          <p>
          {{tweet.content}}
          </p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-star"></i>
            Favorite
          </a>

          <a class="tab-item" href="#">
            <i class="icon ion-more"></i>
          Read More
          </a>
          <a class="button-icon icon ion-android-more-vertical"></a>

        </div>
      </div>
    </ion-list>
    </div>
    <div ng-if="items !== undefined && !items.length" class="no-results">
      <p>No Results</p>
    </div>
  </ion-content>
<!--  <button class="button button-energized-900 button-fab button-fab-bottom-right fab">
  <i class="icon ion-edit light"></i>
</button> -->
  <form novalidate="novalidate" name="tweetForm">
      <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
          <label class="item-input-wrapper">
              <input type="text" placeholder="Type your tweet" ng-model="newTweet.content" required/>
          </label>
          <button ng-disabled="!tweetForm.$valid" class="button button-positive " ng-click="postTweet()">
              Send
          </button>
      </ion-footer-bar>
  </form>

</ion-view>
