<ion-view title="Twitt">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="{{twitt.avatar}}">
        <h2>{{tweet.ownerUsername}}</h2>
        <p>{{tweet.content}}</p>
      </div>
    </div>
    <h4 style="margin-left: 10px">Comments</h4>
    <div class="list card">
        <div ng-repeat="comment in comments" class="item item-avatar" style="padding-top: 10px; padding-bottom:10px;">
            <img ng-src="{{comment.avatar}}">
            <h2>{{comment.username}}<p class="date">{{comment.date | timeDistance}}</p></h2>
            <p>{{comment.content}}</p>
        </div>

    </div>
  </ion-content>
  <button ng-click="openModal()" class="button button-energized-900 button-fab button-fab-bottom-right fab">
  <i class="icon ion-chatbubbles light"></i>
  </button>

</ion-view>
