.progress-wrapper{
         position: relative;
         margin:20px auto;
         font-size: 40px;
     }
     .progress{
         position: absolute;
         color: #bbb;
         font-weight: 100;
         line-height: 1;
     }
p {
  text-transform: lowercase;
}
p:first-letter {
  text-transform: uppercase;
}
#test {
  text-transform: lowercase;
}
#testup {
  text-transform: uppercase;
}
